body {
    font-family: Arial, sans-serif;
    background-color: #d3b6b6;
    margin: 0;
    padding: 0;
    text-align: center;
}


#container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
}


h1 {
    color: #333;
    font-size: 24px;
}


#ejercicios {
    padding: 10px;
    font-size: 16px;
    background-color: #ff5733; 
    color: #fff; 
    border: none;
    border-radius: 5px;
}


#ejecutar {
    background-color: #66cdaa; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#ejecutar:hover {
    background-color: #ff5733; 
}


#resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #ff5733; 
    color: #fff; 
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
}

#resultado a {
    color: #fff; 
    text-decoration: underline;
}

#resultado.error {
    background-color: #ff3333; 
}
